*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Satoshi-Variable", sans-serif;
  background-color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}

img::selection,
video::selection {
  background-color: rgba(255, 255, 0, 0.2);
  box-shadow: 0 0 0 2px rgba(255, 255, 0, 0.5);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

input,
textarea,
select {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

hr {
  border: 1px solid rgba(0, 0, 0, 10%);
  margin-bottom: 2.5rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
  margin-bottom: 100rem;
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #f0f0f0;
    border-right-color: #2c3d4f;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #2c3d4f;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
