.section_brands {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 12rem;
  min-width: 124rem;
  background-color: black;
  margin-bottom: 7rem;
}

.brands_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
