.nav {
  display: flex;
}

.nav_list {
  display: flex;
  font-size: 1.6rem;
  color: #000;
  gap: 2.4rem;
}

.nav_list li:hover {
  font-weight: 500;
}

.nav_list li:active {
  font-weight: 700;
}

@media screen and (max-width: 375px) {
  .nav_list {
    font-size: 1.8rem;
  }
}
