.section_hero {
  min-width: 124rem;
  min-height: 66rem;
  background-image: url("/images/hero_image.png");
  /* background-size: contain; */
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f0f0f0;
}
