.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.header h2 {
  font-size: 3.2rem;
  font-weight: 700;
}

.options {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 60%);
}
