.selectContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dropdown {
  position: relative;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 0.4rem;
  transition: all 0.3s ease-in-out;
}

.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.4rem;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.options.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.option {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.option:hover {
  background-color: #f0f0f0;
}
