.product_details .title {
  font-family: "Integral CF", sans-serif;
  font-size: 3.6rem;
  margin-bottom: 1.4rem;
}

.product_details .fontSize {
  font-size: 3.2rem;
  margin-top: 1.4rem;
}

.description {
  max-width: 59rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 2rem;
  margin-bottom: 2.4rem;
}

.button_add {
  max-width: 100%;
  padding: 1.6rem 5.4rem;
  border-radius: 62px;

  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #000;
}

.button_add:hover {
  background-color: #111111;
}

.button_add:disabled {
  cursor: not-allowed;
  background-color: #aaaaaa;
}

.button_loading {
  display: flex;
  gap: 2rem;
}
