.hero_header {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding-top: 10rem;
  max-width: 124rem;
  margin: 0 auto;
  margin-bottom: 4.8rem;
}

.hero_header h2 {
  font-family: "Integral CF", sans-serif;
  line-height: 6.4rem;
  font-size: 6.4rem;
  max-width: 58rem;

  /* delete */
  background-image: url("https://media1.giphy.com/media/jaOXKCxtBPLieRLI0c/giphy.gif?cid=6c09b952tl0htw6ygzbe6tej4a1iwqc61g5rcjmvxxa87h5w&ep=v1_gifs_search&rid=giphy.gif&ct=g");
  background-size: cover;
  background-clip: text;
  color: transparent;

  /* delete */
}

.hero_description {
  line-height: 2.2rem;
  font-size: 1.6rem;
  max-width: 58rem;
  color: rgba(0, 0, 0, 60%);
}

.shop_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  width: 21rem;
  height: 5.2rem;
  background-color: #000;
  border-radius: 62px;
  color: #fff;
}

.shop_button:hover {
  background-color: rgba(0, 0, 0, 80%);
}
