.hero_header {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding-left: 10rem;
  padding-top: 10rem;
  width: 60rem;
}

.hero_header h2 {
  font-family: "Integral CF", sans-serif;
  line-height: 6.4rem;
  font-size: 6.4rem;
}

.hero_header p {
  line-height: 2.2rem;
  font-size: 1.6rem;
}

.shop_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  width: 21rem;
  height: 5.2rem;
  background-color: #000;
  border-radius: 62px;
  color: #fff;
}
