.stats {
  display: flex;

  gap: 3.2rem;
  max-width: 124rem;
  margin: 0 auto;
}

.stats_box .number {
  font-weight: bold;
  font-size: 4rem;
}

.stats_box .text {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 60%);
}
