.stats {
  padding-left: 10rem;

  display: flex;
  gap: 3.2rem;
}

.stats_box .number {
  font-weight: bold;
  font-size: 4rem;
}

.stats_box .text {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 60%);
}
