.product_box {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.product_box:hover {
  cursor: pointer;
  background-color: #f8f8f8;
}

.product_info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.product_title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1.6rem;
}

.score_box {
  display: flex;
  gap: 1.2rem;
}

.score_stars {
  display: flex;
  gap: 0.5rem;
}

.score_number {
  font-size: 1.4rem;
}
