.product {
  max-width: 124rem;
  margin: 0 auto;
}

.breadcrumbs {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs_list {
  display: flex;
  gap: 1.2rem;
}

.breadcrumbs_list li {
  display: flex;
  align-items: center;
}

.breadcrumbs_list li:last-child {
  color: #000;
}

.breadcrumbs_list a {
  margin-right: 1rem;
}

.product_container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 3.6rem;
}

/* IMAGE GRID */
.product_images {
  max-width: 61rem;
  display: grid;
  gap: 1.4rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.product_images_item.small {
  grid-column: 1 / 2;
  border-radius: 20%;
  overflow: hidden;
}

.product_images_item.small img {
  max-width: 15rem;
}

.product_images_item.large {
  grid-column: 2 / 5;
  grid-row: 1 / 4;
}

.product_images_item.large img {
  width: 100%;
  height: 100%;
}

.product_images_item.active {
  border: 1px solid #000;
}

/* DESCTIPTION */
.product_details {
}

.product_details h3 {
  font-family: "Integral CF", sans-serif;
  font-size: 3.6rem;
  margin-bottom: 1.4rem;
}

.description {
  max-width: 59rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 2rem;
  margin-bottom: 2.4rem;
}

.colors p {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 1.4rem;
}

.colors_list {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}

.colors_list li:hover {
  cursor: pointer;
}

.sizes p {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 1.6rem;
}

.sizes_list {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}

.sizes_list li {
  padding: 1.2rem 2.4rem;
  border-radius: 62px;
  cursor: pointer;
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.6rem;
}

.sizes_list li:hover {
  background-color: #ececec;
}

.sizes_list li.active {
  background-color: #000;
  color: #fff;
  font-weight: 500;
}

.buttons {
  display: flex;
  gap: 2rem;
}

.quantity {
  display: flex;
  background-color: #f0f0f0;
  border-radius: 62px;
}

.quantity button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.6rem 2rem;
  border-radius: 62px;
}

.quantity button:hover {
  background-color: #ececec;
}

.quantity p {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.6rem;
  font-weight: 500;
  color: #000;

  padding: 1.6rem 2rem;
  border-radius: 62px;
}

.buttons_add {
  width: 100%;
  padding: 1.6rem 5.4rem;
  border-radius: 62px;

  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #000;
}

.buttons_add:hover {
  background-color: #111111;
}
