.pages_list {
  display: flex;
  gap: 0.2rem;
}

.page {
  font-size: 1.4rem;
  padding: 1rem 1.7rem;
  border-radius: 8px;
  color: rgba(0, 0, 0, 50%);

  cursor: pointer;
}

.page:hover,
.page.active {
  background-color: #f0f0f0;
  color: #000;
}
