.cart {
  max-width: 124rem;
  margin: 0 auto;
  margin-bottom: 20rem;
}

.cart_title {
  font-family: "Integral CF", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.cart_container {
  display: flex;
  gap: 2rem;
}

.cart_products_box {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 10%);
  border-radius: 20px;
  padding: 2rem 2.4rem;
}

.product_box {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 2.5rem;
}

.product_box img {
  max-width: 12.4rem;
  max-height: 12.4rem;
}

.product_main {
  display: flex;
  justify-content: space-between;
  min-width: 52.7rem;
}

.product_desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product_title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.product_size_color_box {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.product_size,
.product_color {
  font-size: 1.4rem;
}

.product_size span,
.product_color span {
  color: rgba(0, 0, 0, 60%);
}

.product_price {
  font-size: 2.4rem;
  font-weight: 700;
}

.product_buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.cart_summary_box {
  flex-grow: 1;
  align-self: flex-start;
  border: 1px solid rgba(0, 0, 0, 10%);
  border-radius: 20px;
  padding: 2rem 2.4rem;
}

.cart_summary_title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.cart_summary_rows {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cart_summary_row {
  display: flex;
  justify-content: space-between;
}

.cart_summary_row_text {
  font-size: 2rem;
  color: rgba(0, 0, 0, 60%);
}

.cart_summary_row_price {
  font-size: 2rem;
  font-weight: 700;
}

.cart_summary_row_price.discount {
  color: #ff3333;
}

.last_row {
  display: flex;
  justify-content: space-between;
  margin-top: -0.5rem;
}

.last_row_text {
  font-size: 2rem;
  color: #000;
}

.last_row_price {
  font-size: 2.4rem;
  font-weight: 700;
}

.cart_summary_promocode {
  display: flex;
  gap: 1.2rem;
  margin: 2.4rem 0;
}

.promocode {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 4.8rem;

  padding-left: 1.8rem;

  border-radius: 62px;
  background-color: #f0f0f0;
}

.promocode svg {
  margin-right: 1.2rem;
}

.promocode input {
  background-color: #f0f0f0;
  font-size: 1.6rem;
  width: 85%;
}

.promocode input::placeholder {
  color: rgba(0, 0, 0, 40%);
}

.cart_summary_promocode button {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.3rem 3.8rem;
  color: #fff;
  background-color: #000;
  border-radius: 62px;
}

.cart_summary_promocode button:hover {
  background-color: rgba(0, 0, 0, 80%);
}

.finish_button {
  width: 100%;
  padding: 1.9rem 0;

  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;

  background-color: #000;
  border-radius: 62px;
  margin-bottom: 3.3rem;
}

.finish_button:hover {
  background-color: rgba(0, 0, 0, 80%);
}
