.colors p {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 1.4rem;
}

.colors_list {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}

.colors_list li {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 37px;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.selected .checkmark {
  opacity: 1;
}

.colors_list li:hover {
  cursor: pointer;
}
