.sign {
  background-color: #f0f0f0;
}

.sign_container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-top: 10rem;
  padding-bottom: 20rem;

  max-width: 124rem;
  margin: 0 auto;
}
