.grid_container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1.4rem;
}

.grid_container li {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.grid_container li.active {
  outline: 1px solid #ccc;
}

.small_square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.2rem;
  cursor: pointer;
  position: relative;
}

.large_square {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44.4rem;
  position: relative;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
}
