.grid_container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1.4rem;
}

.grid_container li {
  border-radius: 20px;
  overflow: hidden;
}

.grid_container li.active {
  outline: 1px solid #ccc;
}

.small_square {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 15.2rem;
  cursor: pointer;
}

.large_square {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 44.4rem;
  min-height: 53rem;
}

.img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
