.form_container {
  background-color: #fff;
  border-radius: 19px;
  padding: 4rem;
  min-width: 52rem;
}

.form_box_header {
  margin-bottom: 4rem;
}

.form_box_header h3 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.form_box_header p {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 60%);
}

.form_box {
  display: flex;
  flex-direction: column;
  margin-bottom: 6.4rem;
}

.form_box_inputs {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}

.forget_password {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 80%);
  margin-bottom: 3.6rem;
}

.forget_password:hover {
  color: rgba(0, 0, 0, 60%);
}

.form_box_btns {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.checkbox_box {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}

.checkbox {
  width: 1.4rem;
  height: 1.4rem;
  appearance: none;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkbox:checked {
  background-color: #000;
}

.form_box_btns label {
  font-size: 1.4rem;
}

.form_box_btns a {
  color: rgba(0, 0, 0, 80%);
}

.form_box_btns a:hover {
  color: rgba(0, 0, 0, 60%);
}

.form_box_btns button {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  background-color: #000;
  padding: 1.4rem;
  border-radius: 16px;
}

.form_box_btns button:hover {
  background-color: rgba(0, 0, 0, 80%);
}
